<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>五粮液专场——中酒网</title>
		<link rel="shortcut icon" href="../image1/3DAE4DC665848A0E63A821CE67CAC223.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/zhongjiu-Shopping-wuliangye.css">
		<link rel="stylesheet" href="../css/base.css">
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	</head>
	<body>
		<section class="header_bottom_footer_top" id="header_bottom_footer_top">
			<div class="header_bottom_footer_top_content">
				<!--+++++++++++++热销推荐 开始+++++++++++++-->
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar_one">
					<a href="###">
						<div class="header_bottom_footer_top_content_hotproMar_one_left relative">
							<img src="../image1/download-17.jpg" alt="" />
							<i class="header_bottom_footer_top_content_hotproMar_one_left_prices">969</i>
						</div>
					</a>
				</div>
				<!--+++++++++++++内容二 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar_two clearfix">
					<img class="header_bottom_footer_top_content_hotproMar_two_top" src="../image1/download-13.jpg" alt=""/>
					<div class="header_bottom_footer_top_content_hotproMar_two_left fl relative">
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_left_one" src="../image1/download-18.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_left_one_prices">219</i>
						</a>
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_left_two" src="../image1/download-20.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_left_two_prices">228</i>
						</a>
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_left_three" src="../image1/download-21.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_left_three_prices">729</i>
						</a>
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_left_four" src="../image1/download-23.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_left_four_prices">179</i>
						</a>
					</div>
					<div class="header_bottom_footer_top_content_hotproMar_two_right fl relative">
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_right_one" src="../image1/download-19.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_right_one_prices">419</i>
						</a>
						<a href="###">
							<img class="header_bottom_footer_top_content_hotproMar_two_right_two" src="../image1/download-22.jpg" alt=""/>
							<i class="header_bottom_footer_top_content_hotproMar_two_right_two_prices">218</i>
						</a>
					</div>
				</div>
				<!--+++++++++++++商务精选 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw" id="header_bottom_footer_top_content_con_sw">
					<img src="http://10.80.13.161:8080/resource/views/img/huichang/wly_2.jpg" alt="" />
				</div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw_one">
						<div class="header_bottom_footer_top_content_con_sw_one_top clearfix relative">
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_top_one fl" src="../image1/2wly-p9.jpg" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_top_one_prices">199</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_top_two fl" class="header_bottom_footer_top_content_con_sw_one_left_bottom" src="../image1/2wly-p10.jpg" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_top_two_prices">699</i>
							</a>
						</div>
						<div class="header_bottom_footer_top_content_con_sw_one_bottom clearfix relative">
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_bottom_one fl" src="../image1/2wly-p11.jpg" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_bottom_one_prices">149</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_bottom_two fl" src="../image1/2wly-p12.jpg" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_bottom_two_prices">699</i>
							</a>
						</div>
				</div>
				<!--+++++++++++++内容二 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw_two">
					<div class="header_bottom_footer_top_content_con_sw_two_num"></div>
				</div>
				<!--+++++++++++++整箱  开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_sur" id="header_bottom_footer_top_content_mt_sur">
					<img src="http://10.80.13.161:8080/resource/views/img/huichang/wly_3.jpg" alt="" />
				</div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_sur_one">
					<div class="header_bottom_footer_top_content_mt_sur_one_one">
					
					</div>
				</div>
			</div>
			<!--++++++++++++品牌介绍 开始 +++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_brand" id="header_bottom_footer_top_content_mt_brand"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_brand_one">
					<div class="header_bottom_footer_top_content_mt_brand_one_one"></div>
					<div class="header_bottom_footer_top_content_mt_brand_one_two"></div>
					<div class="header_bottom_footer_top_content_mt_brand_one_three"></div>
				</div>
				<!--大图（全屏图）-->
			<div class="mt_header">
				<div class="mt_header_one"></div>
				<div class="mt_header_two"></div>
				<div class="mt_header_three"></div>
				<!-- /*热销单品推荐*/ -->
				<div id="header_bottom_footer_top_content_hotproMar" class="mt_header_four"></div>
			</div>
			<!--左导航-->
			<div class="left_nav">
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_bottom_top" href="###"></a>
				<a class="left_nav_bottom" href="###"></a>
			</div> 
			<!--右导航-->
			<div class="right_nav">
				<a class="right_nav_one" href="#header_bottom_footer_top_content_hotproMar"></a>
				<a class="right_nav_two" href="#header_bottom_footer_top_content_con_sw"></a>
				<a class="right_nav_three" href="#header_bottom_footer_top_content_mt_sur"></a>
				<a class="right_nav_four" href="#header_bottom_footer_top_content_mt_brand"></a>
				<a class="right_nav_five" href="###"></a>
			</div>
		</section>
	</body>
	<script src="../js/zhongjiu-Shopping-wuliangye.js"></script>
</html>
