.header_bottom_footer_top{
	width: 100%;
	height: 5220px;
	background: rgb(1,3,61);
	position: relative;
}
/*<!--大logo-->*/
.mt_header{
	width: 100%;
	height: 800px;
	border: 1px solid black;
	background: black;
}
.mt_header_one{
	width: 100%;
    height: 200px;
    /*background: aqua;*/
    position: relative;
    background: url("../image2/download-10.jpg") center center no-repeat;
}
.mt_header_two{
	width: 100%;
    height: 200px;
    /*background: antiquewhite;*/
    background: url("../image2/download-21.jpg") center center no-repeat;
}
.mt_header_three{
	width: 100%;
    height: 200px;
    /*background: azure;*/
    background: url("../image2/download-23.jpg") center center no-repeat;
}
.mt_header_four{
	width: 100%;
    height: 200px;
    /*background: blueviolet;*/
    background: url("../image2/download-24.jpg") center center no-repeat;   
}
/*<!--+++++++++++++海之蓝 开始+++++++++++++-->*/
.header_bottom_footer_top_content_oceanicBlue{
	width: 100%;
    height: 143px;
    /*background: brown;*/
    background: url("../image2/download-25.jpg") center center no-repeat;   
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_oceanicBlue_one{
	width: 100%;
    height: 796px;
    /*background: burlywood;*/
}
.header_bottom_footer_top_content_oceanicBlue_one_top{
	width: 100%;
    height: 483px;
    /*background: cadetblue;*/
    background: url("../image2/download-26.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom{
	width: 100%;
    height: 313px;
    /*background: chartreuse;*/
    background: url("../image2/download-8.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one{
	width: 991px;
	height: 311px;
	/*background: white;*/
	margin: 0 auto;
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_one,.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_two{
	display: block;
	width: 330px;
	height: 313px;
	float: left;
	/*background: chocolate;*/
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_one_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 135px;
	top: 110px;
	z-index: 1;
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_two_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 470px;
	top: 110px;
	z-index: 1;
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_three{
	display: block;
	width: 331px;
	height: 313px;
	float: left;
	/*background: chocolate;*/
}
.header_bottom_footer_top_content_oceanicBlue_one_bottom_one_three_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 800px;
	top: 110px;
	z-index: 1;
}
/*<!--+++++++++++++天之蓝 开始+++++++++++++-->*/
.header_bottom_footer_top_content_skyBlue{
	width: 100%;
    height: 189px;
    /*background: coral;*/
    background: url("../image2/download-13.jpg") center center no-repeat;   
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_skyBlue_one{
	width: 100%;
    height: 796px;
    /*background: cornflowerblue;*/
}
.header_bottom_footer_top_content_skyBlue_one_top{
	width: 100%;
    height: 483px;
    /*background: crimson;*/
    background: url("../image2/download-14.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_skyBlue_one_bottom{
	width: 100%;
    height: 313px;
    /*background: cyan;*/
    background: url("../image2/download-9.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one{
	width: 991px;
	height: 311px;
	background: white;
	margin: 0 auto;
	/*background: darkblue;*/
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one_one,.header_bottom_footer_top_content_skyBlue_one_bottom_one_two{
	display: block;
	width: 330px;
	height: 313px;
	float: left;
	/*background: darkcyan;*/
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one_one_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 135px;
	top: 110px;
	z-index: 1;
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one_two_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 470px;
	top: 110px;
	z-index: 1;
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one_three{
	display: block;
	width: 331px;
	height: 313px;
	float: left;
	/*background: darkgoldenrod;*/
}
.header_bottom_footer_top_content_skyBlue_one_bottom_one_three_prices{
	font-family: arial;
	color: #1935e2;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 800px;
	top: 110px;
	z-index: 1;
}
/*<!--+++++++++++++梦之蓝   开始+++++++++++++-->*/
.header_bottom_footer_top_content_dreamOfTheBlue{
	width: 100%;
    height: 188px;
    /*background: darkgreen;*/
    background: url("../image2/download-18.jpg") center center no-repeat;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_dreamOfTheBlue_one{
	width: 100%;
    height: 1363px;
    /*background: darkkhaki;*/
}
.header_bottom_footer_top_content_dreamOfTheBlue_one_top{
	display: block;
	width: 100%;
	height: 682px;
	/*background: darkmagenta;*/
    background: url("../image2/download-19.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_dreamOfTheBlue_one_top_one{
	width: 990px;
	height: 682px;
	border: 1px solid transparent;
	background: transparent;
	margin: 0 auto;
}
.header_bottom_footer_top_content_dreamOfTheBlue_one_top_prices{
	font-family: arial;
	color: #fffc00;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 61.5%;
	top: 530px;
	z-index: 1;
}
.header_bottom_footer_top_content_dreamOfTheBlue_one_bottom{
	display: block;
	width: 100%;
	height: 681px;
	/*background: darkolivegreen;*/
    background: url("../image2/download-20.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_dreamOfTheBlue_one_bottom_prices{
	font-family: arial;
	color: #fffc00;
	font-size: 65px;
	font-style: normal;
	font-weight: bold;
	position: absolute;
	left: 61.5%;
	top: 510px;
	z-index: 1;
}
/*<!--+++++++++++++返回顶部 开始 +++++++++++++-->*/
.header_bottom_footer_top_content_backToTop{
	width: 100%;
	height: 142px;
	/*background: darkorange;*/
    background: url("../image2/download-22.jpg") center center no-repeat;
}
.header_bottom_footer_top_content_backToTop a{
	display: block;
	width: 354px;
	height: 142px;
	background: transparent;
	margin: 0 auto;
}
/*<!--+++++++++++++更多活动推荐 开始+++++++++++++-->*/
.header_bottom_footer_top_content_moreActivity{
	width: 100%;
	height: 220px;
	/*background: firebrick;*/
    background: url("../image2/download-1.png") center center no-repeat;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_moreActivity_one{
	width: 990px;
	height: 576px;
	margin: 0 auto;
	/*background: forestgreen;*/
}
.header_bottom_footer_top_content_moreActivity_one_top{
	width: 990px;
	height: 283px;
	display: flex;
	justify-content: space-between;
	/*background: fuchsia;*/
}
.header_bottom_footer_top_content_moreActivity_one_top img{
	display: block;
	width: 241px;
	height: 283px;
	/*background: #0000BF;*/
}
.header_bottom_footer_top_content_moreActivity_one_bottom{
	width: 990px;
	height: 283px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	/*background: #0000FA;*/
}
.header_bottom_footer_top_content_moreActivity_one_bottom img{
	display: block;
	width: 241px;
	height: 283px;	
	/*background: #003F54;*/
}
/*<!--左导航-->*/
.left_nav{
	display: none;
	width: 130px;
	height: 468px;
	border: 1px solid transparent;
	/*background: #00BF00;*/
	background: url("../image1/download-12.png") no-repeat;
	position: fixed;
	padding: 35px 0 0 0px;
	left: 1%;
	top: 80px;
}
.left_nav_list{
	display: block;
	width: 130px;
	height: 28px;
	border: 1px solid transparent;
	background: transparent;
	margin: 1px auto;
	border-radius:15px;
	/*background: gold;*/
}
.left_nav_bottom_top{
	display: block;
	width: 130px;
	height: 130px;
	border: 1px solid transparent;
	background: transparent;
	margin: 5px auto;
	opacity: 0.3;
	cursor:none;
	/*background: goldenrod;*/
}
.left_nav_bottom{
	display: block;
	width: 130px;
	height: 50px;
	border: 1px solid transparent;
	background: transparent;
	margin: 0px auto;
	opacity: 0.3;
	/*background: black;*/
	/*border-radius:15px;*/
}