<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>茅台特惠专场——中酒网</title>
		<link rel="shortcut icon" href="../image/3DAE4DC665848A0E63A821CE67CAC223.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/zhongjiu-Shopping-maotai.css">
		<link rel="stylesheet" href="../css/base.css">
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	</head>
	<body>
		<section class="header_bottom_footer_top" id="header_bottom_footer_top">
			<div class="header_bottom_footer_top_content">
				<!--+++++++++++++热销推荐 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar" id="header_bottom_footer_top_content_hotproMar"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar_one clearfix">
					<a href="###">
						<div class="header_bottom_footer_top_content_hotproMar_one_left fl">
						<img src="../image/download-1-1.jpg" alt="" />
						</div>
						<div class="header_bottom_footer_top_content_hotproMar_one_right fl">
							<img src="../image/download-2-1.jpg" alt="" />
						</div>
					</a>
				</div>
				<!--+++++++++++++内容二 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar_two mt10 clearfix">
						<div class="header_bottom_footer_top_content_hotproMar_two_left fl relative">
							<a href="###">
								<img class="header_bottom_footer_top_content_hotproMar_two_left_top" src="../image/download-6.jpg" alt=""/>
								<i class="header_bottom_footer_top_content_hotproMar_two_left_top_prices">199</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_hotproMar_two_left_bottom" src="../image/download-7.jpg" alt=""/>
								<i class="header_bottom_footer_top_content_hotproMar_two_left_bottom_prices">638</i>
							</a>
						</div>
						<div class="header_bottom_footer_top_content_hotproMar_two_right fl relative">
							<a href="###">
								<img src="../image/download-16.jpg" alt=""/>
								<i class="header_bottom_footer_top_content_hotproMar_two_right_prices">339</i>
								
							</a>
						</div>
				</div>
				<!--+++++++++++++内容三 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_hotproMar_three mt10 clearfix">
						<div class="header_bottom_footer_top_content_hotproMar_three_left fl relative">
							<a href="###">
								<img src="../image/download-3.jpg" alt="" />
								<i class="header_bottom_footer_top_content_hotproMar_three_left_prices">1799</i>
							</a>
						</div>
						<div class="header_bottom_footer_top_content_hotproMar_three_right fl relative">
							<a href="###">
								<img src="../image/download-2-3.jpg" alt="" />
								<i class="header_bottom_footer_top_content_hotproMar_three_right_top_prices">418</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_hotproMar_three_right_bottom" src="../image/download-4.jpg" alt="" />
								<i class="header_bottom_footer_top_content_hotproMar_three_right_bottom_prices">669</i>
							</a>
						</div>
				</div>
				<!--+++++++++++++商务精选 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw" id="header_bottom_footer_top_content_con_sw"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw_one clearfix">
						<div class="header_bottom_footer_top_content_con_sw_one_left fl relative">
							<a href="###">
								<img src="../image/download-8.png" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_left_top_prices">159</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_left_bottom" src="../image/download-2-1.png" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_left_bottom_prices">158</i>
							</a>
						</div>
						<div class="header_bottom_footer_top_content_con_sw_one_right fl relative">
							<a href="###">
								<img src="../image/download-1-1.png" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_right_top_prices">128</i>
							</a>
							<a href="###">
								<img class="header_bottom_footer_top_content_con_sw_one_right_bottom" src="../image/download-9.png" alt="" />
								<i class="header_bottom_footer_top_content_con_sw_one_right_bottom_prices">129</i>
							</a>
						</div>
				</div>
				<!--+++++++++++++内容二 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_con_sw_two">
						<div class="header_bottom_footer_top_content_con_sw_two_top">
							<a href="###">
								<img src="../image/download-14.png" alt="" />
							</a>
						</div>
						<div class="header_bottom_footer_top_content_con_sw_two_middle clearfix">
							<!--<div class="min_picture">
								<a href="###">
									<img src="../image/download-4.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/2b64d516-8dc6-4dc6-b302-e503a0c6e5a5B.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download-2.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download-3.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>-->
						</div>
						<div class="header_bottom_footer_top_content_con_sw_two_bottom clearfix">
							<!--<div class="min_picture">
								<a href="###">
									<img src="../image/download-1-5.jpg" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/e1cdff23-061b-4928-b63a-fc36b60bb847B.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download-5.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download-1.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>-->
						</div>
						<div class="header_bottom_footer_top_content_con_sw_two_bottom_bottom">
							<a href="###"><img src="../image/download-13.png" alt="" /></a>
						</div>
				</div>
				<!--+++++++++++++整箱  开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_sur" id="header_bottom_footer_top_content_mt_sur"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_sur_one">
						<div class="header_bottom_footer_top_content_mt_sur_one_top">
							<a href="###"><img src="../image/download-14.png" alt="" /></a>
						</div>
						<div class="header_bottom_footer_top_content_mt_sur_one_middle clearfix">
							<!--<div class="min_picture">
								<a href="###">
									<img src="../image/download-1.jpg" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download-6.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>
							<div class="min_picture">
								<a href="###">
									<img src="../image/download1-8.png" alt="" />
									<p class="ad-line">酱香传奇 王子酒双支</p>
									<p class="name-line">53°茅台王子酒（旧包装） 500ml（2瓶装)</p>
									<p class="my-price-line-zi_button-line clearfix">
										<span class="my-price-line-zi fl">活动价：￥<em class="my-price"><i jdprice="" jshop="price">218</i></em></span>
										<a class="button-line fr" href="###">立即抢购</a>
									</p>
								</a>
							</div>-->
						</div>
						<div class="header_bottom_footer_top_content_mt_sur_one_bottom">
							<a href="###"><img src="../image/download-13.png" alt="" /></a>
						</div>
				</div>
				<!--+++++++++++++品牌介绍 开始 +++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_brand" id="header_bottom_footer_top_content_mt_brand"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_mt_brand_one">
					<img src="../image/download-12.png" alt="" />
				</div>
			</div>
				<!--大图（全屏图）-->
			<div class="mt_header">
				<div class="mt_header_picture"></div>
				<a href="###"></a>
			</div>
			<!--左导航-->
			<div class="left_nav">
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_bottom_top" href="###"></a>
				<a class="left_nav_bottom" href="###"></a>
			</div> 
			<!--右导航-->
			<div class="right_nav">
				<a class="right_nav_one" href="#header_bottom_footer_top_content_hotproMar"></a>
				<a class="right_nav_two" href="#header_bottom_footer_top_content_con_sw"></a>
				<a class="right_nav_three" href="#header_bottom_footer_top_content_mt_sur"></a>
				<a class="right_nav_four" href="#header_bottom_footer_top_content_mt_brand"></a>
				<a class="right_nav_five" href="###"></a>
			</div>
		</section>
	</body>
	<script src="../js/zhongjiu-Shopping-maotai.js"></script>
</html>