<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="input" type="text" name="phone">
<h1>注册</h1>
<form action="http://10.80.13.161:8081/user/insertUser.do" method="post">
    userPhone：<input type="text" name="userPhone">
    password：<input type="text" name="password">
    <input type="submit" value="提交">
</form>
<h1>登录</h1>
<form action="http://10.80.13.161:8081/user/login.do" method="post">
    userPhone：<input type="text" name="userPhone">
    password：<input type="text" name="password">
    <input type="submit" value="登录">
</form>
</body>
<script src="../js/jquery-1.8.3.min.js"></script>
<script>
    $("#input").blur(function () {
        var userPhone = $("#input").val();
        console.log(userPhone);
        $.ajax({
            url:"http://10.80.13.161:8081/user/findUserPhone.do",
            method:"get",
            data:{
                userPhone:userPhone
            },
            success:function (data) {
                console.log(data)
            }
        })
    })

</script>
</html>