.header_bottom_footer_top{
	width: 100%;
	height: 6390px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
	position: relative;
}
.header_bottom_footer_top_content{
	width: 998px;
	height: 6387px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
	margin: 0 auto;
}
/*++++++++++热销推荐 开始+++++++++++++-->*/
.header_bottom_footer_top_content_hotproMar{
	width: 998px;
	height: 152px;
	border: 1px solid #f4f4e8;
	background: url("../image/download-10.png") center center no-repeat;
	margin-top: 900px;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_hotproMar_one{
	width: 998px;
	height: 328px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_hotproMar_one_left{
	width: 543px;
	height: 328px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_hotproMar_one_right{
	width: 453px;
	height: 328px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
/*<!--+++++++++++++内容二 开始+++++++++++++-->*/
.header_bottom_footer_top_content_hotproMar_two{
	width: 998px;
	height: 968px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
	position: relative;
}
.header_bottom_footer_top_content_hotproMar_two_left{
	width: 540px;
	height: 968px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_hotproMar_two_left_top_prices{
	width: 66px;
	height: 46px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top:255px;
	left: 435px;
}
.header_bottom_footer_top_content_hotproMar_two_left_bottom{
	display: block;
	position: relative;
	top: -6px;
	left: -1px;
}
.header_bottom_footer_top_content_hotproMar_two_left_bottom_prices{
	width: 66px;
	height: 46px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top: 750px;
	left: 500px;
	z-index: 1;
}
.header_bottom_footer_top_content_hotproMar_two_right{
	width: 456px;
	height: 968px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
	position: relative;
	top: 0px;
	left: -1px;
}
.header_bottom_footer_top_content_hotproMar_two_right_prices{
	width: 66px;
	height: 46px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top: 665px;
	left: 210px;
}
/*<!--+++++++++++++内容三 开始+++++++++++++-->*/
.header_bottom_footer_top_content_hotproMar_three{
	width: 998px;
	height: 969px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
	position: relative;
}
.header_bottom_footer_top_content_hotproMar_three_left{
	width: 413px;
	height: 969px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_hotproMar_three_left_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top: 705px;
	left: 200px;
}
.header_bottom_footer_top_content_hotproMar_three_right{
	width: 583px;
	height: 969px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
	position: relative;
	top: 0px;
	left: -1px;
}
.header_bottom_footer_top_content_hotproMar_three_right_top_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top: 315px;
	left: 410px;
	z-index: 1;
}
.header_bottom_footer_top_content_hotproMar_three_right_bottom{
	display: block;
	position: relative;
	top: -6px;
	left: 0px;
}
.header_bottom_footer_top_content_hotproMar_three_right_bottom_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	top: 738px;
	left: 410px;
	z-index: 1;
}
/*<!--+++++++++++++商务精选 开始+++++++++++++-->*/
.header_bottom_footer_top_content_con_sw{
	width: 998px;
	height: 176px;
	border: 1px solid #f4f4e8;
	background: url("../image/download-4-1.png") center center no-repeat;
	margin-top: 0px;
}
.header_bottom_footer_top_content_con_sw img{
	display: block;
	margin-left: -65px;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_con_sw_one{
	width: 998px;
	height: 1162px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
	
}
.header_bottom_footer_top_content_con_sw_one_left{
	width: 497px;
	height: 1162px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_con_sw_one_left_top_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	left: 230px;
	top: 498px;
	z-index: 1;
}
.header_bottom_footer_top_content_con_sw_one_left_bottom_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	left: 230px;
	top: 1008px;
	z-index: 1;
}
.header_bottom_footer_top_content_con_sw_one_right{
	width: 499px;
	height: 1162px;
	border: 1px solid #f4f4e8;
	border-left: 0px;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_con_sw_one_right_top_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	left: 180px;
	top: 498px;
	z-index: 1;
}
.header_bottom_footer_top_content_con_sw_one_right_bottom_prices{
	width: 78px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	font-size: 35px;
	color: red;
	position: absolute;
	left: 180px;
	top: 1008px;
	z-index: 1;
}
.header_bottom_footer_top_content_con_sw_one_left_bottom,.header_bottom_footer_top_content_con_sw_one_right_bottom{
	position: relative;
	top: -6px;
}
/*<!--+++++++++++++内容二 开始+++++++++++++-->*/
.header_bottom_footer_top_content_con_sw_two{
	width: 998px;
	height: 665px;
	border: 1px solid #f4f4e8; 
	border-left: 0px;
	background: url("../image/mtsw_bg.png");
	margin-top: 6px;
}
.header_bottom_footer_top_content_con_sw_two_top{
	width: 998px;
	height: 14px;
	margin-left: 4px;
	margin-top: -2px;
	border: 1px solid transparent;
	background: url("../image/download-14.png") center center no-repeat;
}
.header_bottom_footer_top_content_con_sw_two_middle{
	width: 998px;
	height: 592px;
	border: 1px solid transparent;
	margin-left: 33px;
}
.min_picture{
	width: 225px;
	height: 296px;
	border: 1px solid transparent;
	background: url("../image/download-11.png");
	margin-left: 6px;
	margin-top: 15px;
	float: left;
}
.min_picture img{
	display: block;
	width: 210px;
	height: 210px;
	margin-left: 5px;
	margin-top: 5px;
}
.ad-line{
	width: 208px;
	height: 16px;
	border: 1px transparent;
	color: red;
	font-size: 14px;
	line-height: 16px;
	margin-left: 8px;
	margin-top: 5px;
}
.ad-line span{
	margin-left: 5px;
}
.name-line{
	width: 208px;
	height: 16px;
	border: 1px solid transparent;
	font-size: 14px;
	line-height: 16px;
	margin-left: 8px;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.name-line span{
	margin-left: 3px;
}
.my-price-line-zi_button-line{
	width: 208px;
	height: 33px;
	border: 1px solid red;
	background: red;
	margin-left: 8px;
	margin-top: 2px;
	border-radius: 5px;
	font-family: inherit;
	line-height: 33px;
}
.my-price-line-zi_button-line span{
	display: block;
	color: #DED400;
	font-size: 18px;
	margin-left: 5px;
}
.button-line{
	display: block;
	width: 74px;
	height: 29px;
	border: 1px solid yellow;
	background: yellow;
	text-align: center;
	line-height: 29px;
	border-radius: 5px;
	margin-top: 1px;
	color: red;
}
.button-line:hover{
	color: red;
}
.header_bottom_footer_top_content_con_sw_two_bottom{
	width: 998px;
	height: 16px;
	border: 1px solid transparent;
	margin-left: 2px;
	margin-top: 45px; 	
}
/*<!--+++++++++++++整箱  开始+++++++++++++-->*/
.header_bottom_footer_top_content_mt_sur{
	width: 998px;
	height: 172px;
	border: 1px solid #f4f4e8;
	background: url("../image/mt_gift.jpg") center center no-repeat;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_mt_sur_one{
	width: 998px;
	height: 350px;
	border: 1px solid #f4f4e8;
	background: url("../image/mtsw_bg.png");
	margin-top: 6px;
}
.header_bottom_footer_top_content_mt_sur_one_top{
	width: 998px;
	height: 14px;
	border: 1px solid transparent;
	margin-left: 1px;
	margin-top: -5px;
}
.header_bottom_footer_top_content_mt_sur_one_middle{
	width: 998px;
	height: 296px;
	border: 1px solid transparent;
	margin-left: 33px;
	margin-top: 0px;
}
.header_bottom_footer_top_content_mt_sur_one_bottom{
	width: 998px;
	height: 16px;
	border: 1px solid transparent;
	margin-left: 2px;
	margin-top: 25px;	
}
/*<!--+++++++++++++品牌介绍 开始 +++++++++++++-->*/
.header_bottom_footer_top_content_mt_brand{
	width: 998px;
	height: 178px;
	border: 1px solid #f4f4e8;
	background: url("../image/download-7.png") center center no-repeat;
}
/*<!--+++++++++++++内容一 开始+++++++++++++-->*/
.header_bottom_footer_top_content_mt_brand_one{
	width: 998px;
	height: 250px;
	border: 1px solid #f4f4e8;
	background: #f4f4e8;
}
.header_bottom_footer_top_content_mt_brand_one img{
	display: block;
	margin-left: -110px;
}
/*<!--大图（全屏图）-->*/
.mt_header{
	width: 100%;
	height: 900px;
	border: 1px solid #f4f4e8;
	position: absolute;
	top: 0px;
	left: 0px;
}
.mt_header_picture{
	width: 100%;
	height: 841px;
	background: url("../image/download.jpg") center center no-repeat;
}
.mt_header_picture_a{
	display: block;
	width: 1000px;
	height: 100px;
	border: 1px solid transparent;
	background: transparent;
	margin: 0px auto;
	margin-top: -50px;
}
/*<!--左导航-->*/
.left_nav{
	display: none;
	width: 130px;
	height: 468px;
	border: 1px solid transparent;
	background: url("../image/download-15.png") no-repeat;
	
	position: fixed;
	padding: 35px 0 0 0px;
	left: 1%;
	top: 80px;
}
.left_nav_list{
	display: block;
	width: 130px;
	height: 28px;
	border: 1px solid transparent;
	background: transparent;
	margin: 1px auto;
	border-radius:15px;
}
.left_nav_bottom_top{
	display: block;
	width: 130px;
	height: 130px;
	border: 1px solid transparent;
	background: transparent;
	margin: 5px auto;
	opacity: 0.3;
	cursor:none;
}
.left_nav_bottom{
	display: block;
	width: 130px;
	height: 50px;
	border: 1px solid transparent;
	background: transparent;
	margin: 0px auto;
	opacity: 0.3;
}
/*<!--右导航-->*/
.right_nav{
	display: none;
	width: 134px;
	height: 370px;
	border: 1px solid transparent;
	background: url("../image/download-3-1.png") no-repeat;
	position: fixed;
	right: 5%;
	top: 50%;
	z-index: 999;
	margin-top: -182px;
}
.right_nav_one{
	display: block;
	width: 90px;
	height: 41px;
	border: 1px solid transparent;
	background: transparent;
	margin: 102px auto;
}
.right_nav_two{
	display: block;
	width: 90px;
	height: 50px;
	border: 1px solid transparent;
	background: transparent;
	margin: -100px auto;
}
.right_nav_three{
	display: block;
	width: 90px;
	height: 50px;
	border: 1px solid transparent;
	background: transparent;
	margin: 102px auto;
}
.right_nav_four{
	display: block;
	width: 90px;
	height: 50px;
	border: 1px solid transparent;
	background: transparent;
	margin: -99px auto;
}
.right_nav_five{
	display: block;
	width: 90px;
	height: 48px;
	border: 1px solid transparent;
	background: transparent;
	margin: 100px auto;
}