<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>052.Ljp_Personal_Index-我的优惠券</title>
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			<!--右边部分-->
			<div id="rig_order">
				<div class="g_word">
					<span>-</span>&nbsp;&nbsp;&nbsp;
					<span>我的优惠券</span>
				</div>
				
				<div id="syzk">
					<span><a href="05.Ljp_Personal_Index.html">未使用</a></span><span><a  href="051.Ljp_Personal_Index.html">已使用</a></span><span><a style="color: red;font-weight: bolder;" href="052.Ljp_Personal_Index.html">已过期</a></span>
				</div>
				
			<!--已使用-->
				<div class="table_box4 table_box">
					<table width="1018" height="300" border="0" cellspacing="0" cellpadding="10">
						<tr class="table_name4 table_name">
							<th class="mz">面值</th>
							<th class="zt1">状态</th>
							<th class="dpmc">店铺名称</th>
							<th class="yxq">有效期</th>
							<th class="sytj">使用条件</th>
							<th class="sycj">使用场景</th>
						</tr>
						<tr>
							<td class="no_have4 no_have" colspan="6">暂时没有优惠券！</td>
						</tr>
					</table>
					
					<div class="page_info1">共
						<span>0</span>
					页</div>
				</div>
		
				
				
				
				
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
