<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>06.Ljp_Personal_Index-我的购物卡</title>
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			<div id="rig_gwk">您还未绑定任何购物卡，是否现在就<span style="color: black;">绑定</span> ？</div>
			
			<div id="bdym">
				绑定会员卡：<input type="text" /><br />
				所绑手机号：<input type="text" /><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;验证码：<input type="text" />
				<input type="button" value="获取验证码" /><br />
				<button>绑定</button>
				
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
