<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>07.Ljp_Personal_Index-我的积分</title>
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			<!--右边部分-->
			<div id="rig_tab">
				<span>项目</span>
				<span>当前累计积分</span>
				<span>规则说明</span>
			</div>
			<div id="table_box">
				<table width="1018" height="300" border="1" cellspacing="0" cellpadding="10">
					<tr>
						<td>登录</td>
						<td>0</td>
						<td>您每次登录都可获得一定积分奖励，每日只能获得一次登录积分</td>
					</tr>
					<tr>
						<td>评论</td>
						<td>0</td>
						<td>您所购买的商品，发表评论可获得积分奖励</td>
					</tr>
					<tr>
						<td>消费</td>
						<td>0</td>
						<td>您每次消费均可获得一定积分奖励</td>
					</tr>
					<tr>
						<td>绑定</td>
						<td>0</td>
						<td>首次绑定平台下微信公众号可获得积分奖励</td>
					</tr>
					<tr>
						<td>注册</td>
						<td>0</td>
						<td>注册并完成验证（手机或邮箱）可获得积分奖励</td>
					</tr>
					<tr>
						<td>邀请好友</td>
						<td>0</td>
						<td>邀请好友注册并完成验证（手机或邮箱）可获得积分奖励</td>
					</tr>
					<tr>
						<td>签到</td>
						<td>0</td>
						<td>每天登录签到可以获得积分奖励</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
