<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>10.Ljp_Personal_Index-店铺关注</title>
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			<!--右边部分-->
			<div id="rig_order">
				<div class="g_word">
					<span>-</span>&nbsp;&nbsp;&nbsp;
					<span>店铺关注</span>
				</div>
				
				
				
				<div class="table_box9 table_box">
					<table width="1018" height="150" border="0" cellspacing="0" cellpadding="10">
						<tr class="table_name9 table_name">
							<input class="che" type="checkbox" />
							<span class="gzsp">全选</span>
							<img class="eig" src="../img/ljp_18.png"/>
						</tr>
						<tr>
							<td class="no_have9 no_have" colspan="1">您还没有关注任何商铺！</td>
						</tr>
					</table>
					
					<div class="page_info1">共
						<span>0</span>
					页</div>
				</div>
				
				
		
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
