<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>11.Ljp_Personal_Index-平台推广</title>
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			<!--右边部分-->
			<div id="rig_order">
				<div class="g_word">
					<span>-</span>&nbsp;&nbsp;&nbsp;
					<span>平台推广</span>
				</div>
				
				<div class="suc_all">
					<span class="suc">成功推荐会员数：
						<span>0</span> 个
					</span>
					<span class="fg">|</span>
					<span class="all">累积获得积分：
						<span>0</span> 分
					</span>
				</div>
				
				<div class="tips">活动规则： 从2017年5月1日起，邀请新用户暂时不送积分，精彩活动敬请期待</div>
				<div class="ewm">专属二维码：</div>
				<img class="ewm_pic" src="../img/ljp_19.png"/>
				<div id="share">
					<li>分享到：</li>
					<li><a href=""><img src="../img/ljp_20.png" alt="" /></a></li>
					<li><a href=""><img src="../img/ljp_21.png" alt="" /></a></li>
				</div>
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
