<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
		<title>151.Ljp_Personal_Index-验证信息</title>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			
			<!--右边部分-->
			<div id="rig_order">
				<div class="g_word">
					<span>-</span>&nbsp;&nbsp;&nbsp;
					<span>验证信息</span>
				</div>
				
				<div class="line">
					<span class="part_one"></span><span class="part_two"></span>
					<div class="one_yz"><span class="yzyx">1</span></div>
					<div class="two_yz"><span class="wc">2</span></div>
				</div>
				
				<div class="yanz">
					邮&nbsp;&nbsp;&nbsp;箱：<input type="text" class="text" /><br />
					<button class="huoqu">获取邮箱验证码</button><br />
					验证码：<input type="text" class="text" /><br />
					<button class="yza">验证</button><br />
				</div>
				<br /><br /><hr />
				
				
				
				
				
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
