<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/01.Ljp_Personal_Index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/02.Ljp_Personal_Index.css"/>
		<title>16.Ljp_Personal_Index-账户安全管理</title>
	</head>
	<body>
		<!--红色的横杠-->
		<div class="per_line"></div>
		<!--个人中心-->
		<div id="per_container">
			<!--左边部分-->
			<div id="per_left"></div>
			
			
			<!--右边部分-->
			<div id="rig_order">
				<div class="g_word">
					<span>-</span>&nbsp;&nbsp;&nbsp;
					<span>账户安全管理</span>
				</div>
				<p class="zhaq">账户安全：<span class="aqd"><span class="h1_span h1_span1"></span></span>&nbsp;&nbsp;&nbsp;<span class="zhong">中</span><span class="knew">完成相应设置可提高账户及资金安全</span></p>
				
				<div class="man">
					<p>
						<span><img src=""/></span>
						<span>已设置</span>
						<span>登录密码</span>
						<span>安全性高的密码可以使账号更安全。建议您定期更换密码</span>
						<span><a href="162.Ljp_Personal_Index.html">修改</a></span>
					</p>
					<p>
						<span><img src=""/></span>
						<span>未设置</span>
						<span>交易密码</span>
						<span>安全性高的密码可以使账号更安全。建议您定期更换密码</span>
						<span><a href="161.Ljp_Personal_Index.html">去设置</a></span>
					</p>
					<p>
						<span><img src=""/></span>
						<span>已验证</span>
						<span>手机验证</span>
						<span>验证后可通过手机找回密码，并接收订单发货、付款成功等系统通知</span>
						<span><a href="151.Ljp_Personal_Index.html">更换</a></span>
					</p>
					<p>
						<span><img src=""/></span>
						<span>未验证</span>
						<span>邮箱验证</span>
						<span>验证后可通过手机找回密码，并接收订单发货、付款成功等系统通知</span>
						<span><a href="152.Ljp_Personal_Index.html">去设置</a></span>
					</p>
				</div>
				
				
				
				
			</div>
		</div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../js/01.Ljp_Personal_Index.js"></script>
</html>
