<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>洋河专场—中酒网</title>
		<link rel="shortcut icon" href="../image/3DAE4DC665848A0E63A821CE67CAC223.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/zhongjiu-Shopping-yanghe.css">
		<link rel="stylesheet" href="../css/base.css">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	</head>
	<body>
		<section class="header_bottom_footer_top" id="header_bottom_footer_top" id="header_bottom_footer_top" id="header_bottom_footer_top">
			<!--大logo-->
			<div class="mt_header">
				<div class="mt_header_one"></div>
				<div class="mt_header_two"></div>
				<div class="mt_header_three"></div>
				<a href="###"><div class="mt_header_four"></div></a>
			</div>
				<!--+++++++++++++海之蓝 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_oceanicBlue"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_oceanicBlue_one">
						<div class="header_bottom_footer_top_content_oceanicBlue_one_top"></div>
						<div class="header_bottom_footer_top_content_oceanicBlue_one_bottom">
							<a href="###"></a>
							<div class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one clearfix relative">
								<a href="###">
									<img class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_one" src="../image2/download-15.jpg"/>
									<i class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_one_prices">136</i>
								</a>
								<a href="###">
									<img class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_two"  src="../image2/download-16.jpg"/>
									<i class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_two_prices">136</i>
								</a>
								<a href="###">
									<img class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_three" src="../image2/download-17.jpg"/>
									<i class="header_bottom_footer_top_content_oceanicBlue_one_bottom_one_three_prices">156</i>
								</a>
							</div></a>
						</div>
				</div>
				<!--+++++++++++++天之蓝 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_skyBlue"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_skyBlue_one">
						<div class="header_bottom_footer_top_content_skyBlue_one_top"></div>
						<div class="header_bottom_footer_top_content_skyBlue_one_bottom">
							<div class="header_bottom_footer_top_content_skyBlue_one_bottom_one clearfix relative">
								<a href="###">
									<img class="header_bottom_footer_top_content_skyBlue_one_bottom_one_one" src="../image2/download-15.jpg"/>
									<i class="header_bottom_footer_top_content_skyBlue_one_bottom_one_one_prices">318</i>
								</a>
								<a href="###">
									<img class="header_bottom_footer_top_content_skyBlue_one_bottom_one_two"  src="../image2/download-16.jpg"/>
									<i class="header_bottom_footer_top_content_skyBlue_one_bottom_one_two_prices">318</i>
								</a>
								<a href="###">
									<img class="header_bottom_footer_top_content_skyBlue_one_bottom_one_three" src="../image2/download-17.jpg"/>
									<i class="header_bottom_footer_top_content_skyBlue_one_bottom_one_three_prices">358</i>
								</a>
							</div>
						</div>
				</div>
				<!--+++++++++++++梦之蓝   开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_dreamOfTheBlue"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_dreamOfTheBlue_one">
					<a class="header_bottom_footer_top_content_dreamOfTheBlue_one_top" href="###">
						<div class="header_bottom_footer_top_content_dreamOfTheBlue_one_top_one relative">
							<i class="header_bottom_footer_top_content_dreamOfTheBlue_one_top_prices">518</i>
						</div>
					</a>
					<a class="header_bottom_footer_top_content_dreamOfTheBlue_one_bottom relative" href="###">
						<div class="header_bottom_footer_top_content_dreamOfTheBlue_one_top_one relative">
							<i class="header_bottom_footer_top_content_dreamOfTheBlue_one_bottom_prices">688</i>
						</div>
					</a>
				</div>
				<!--+++++++++++++返回顶部 开始 +++++++++++++-->
				<div class="header_bottom_footer_top_content_backToTop">
					<a href="###"></a>
				</div>
				<!--+++++++++++++更多活动推荐 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_moreActivity"></div>
				<!--+++++++++++++内容一 开始+++++++++++++-->
				<div class="header_bottom_footer_top_content_moreActivity_one">
						<div class="header_bottom_footer_top_content_moreActivity_one_top">
							<!--<a href="###"><img src="../image2/download.jpg"/></a>
							<a href="###"><img src="../image2/download-1.jpg"/></a>
							<a href="###"><img src="../image2/download-2.jpg"/></a>
							<a href="###"><img src="../image2/download-3.jpg"/></a>-->
						</div>
						<div class="header_bottom_footer_top_content_moreActivity_one_bottom">
							<!--<a href="###"><img src="../image2/download-4.jpg"/></a>
							<a href="###"><img src="../image2/download-5.jpg"/></a>
							<a href="###"><img src="../image2/download-6.jpg"/></a>
							<a href="###"><img src="../image2/download-7.jpg"/></a>-->
						</div>
				</div>
			<!--左导航-->
			<div class="left_nav">
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_list" href="###"></a>
				<a class="left_nav_bottom_top" href="###"></a>
				<a class="left_nav_bottom" href="###"></a>
			</div> 
		</section>
	</body>
	<script src="../js/zhongjiu-Shopping-yanghe.js"></script>
	<!--<script type="text/javascript">
		$.ajax({
			type:"get",
			url:"../php/index.php",
			async:true,
			data:{},
			dataType:"json",
			success:function(data){
				console.log(data);
			}
		});
	</script>-->
</html>